In [1]:
Student = {
    "name" : "pankaj",
    "age" : "20",
    "Section" : "F"
    
    }

In [2]:
print(dict)

<class 'dict'>

In [3]:
Student.values()

dict_values(['pankaj', '20', 'F'])

In [4]:
##dict
print(print("hello"))

hello
None

In [5]:
print(True+True+False)

2

In [6]:
# print = 34

In [7]:
# print

In [8]:
print("hello")

hello

In [11]:
Student.items

In [12]:
a,b,c,d = (1,2,3,4)

In [ ]:
a = 1,2,3,4,5
print(type(a))

<class 'set'>

In [13]:
a

1

In [15]:
Student['rollnumber'] = "22EAIAD080"

In [16]:
Student

{'name': 'pankaj', 'age': '20', 'Section': 'F', 'rollnumber': '22EAIAD080'}

In [20]:
x =4
y =5

In [22]:
print(x+y)
print(x*y)
print(x/y)
print(x-y)

9
20
0.8
-1

In [23]:
print(x==y)
print(x!=y)
print(x<=y)
print(x>=y)
print(x<y)
print(x>y)

False
True
True
False
True
False

Assignment operator

In [25]:
x = 5
x = x + 3
x = x - 3
x = x * 3
x = x / 3
x = x % 3
x = x ** 3
x = x // 3

Identity operator

In [27]:
print(x is y)
print(x is not y)

False
True

Membership operators

In [28]:
x in Student

False

In [29]:
x in a

True

In [32]:
x not in a

False

if else Loop

In [33]:
age=14
if(age>18):
    print("Eligible to vote")
else:
    print("Not eligible to vote")

Not eligible to vote

For loop

In [34]:
for i in range(10):
    print("pankaj")

pankaj
pankaj
pankaj
pankaj
pankaj
pankaj
pankaj
pankaj
pankaj
pankaj

In [35]:
ls = [1,2,3,4,5,6]
for i in ls:
    print(i)

1
2
3
4
5
6

In [37]:
for i in Student:
    print(i)
    print(Student[i])

name
pankaj
age
20
Section
F
rollnumber
22EAIAD080

In [38]:
for i in Student.items():
    print(i)

('name', 'pankaj')
('age', '20')
('Section', 'F')
('rollnumber', '22EAIAD080')

In [39]:
count=1
while count<=6:
    print(count)
    count +=1

1
2
3
4
5
6